.container {
display:grid;
grid-template-rows:repeat(4,1fr);
grid-template-columns:repeat(4,1fr);
gap:20px;


}
.item{
    height:400px;
    width:400px;
    border-radius:7px;
    background-color:#a6e61c;
    -webkit-box-shadow: 10px 10px 5px 1px rgba(214,152,214,1);
    -moz-box-shadow: 10px 10px 5px 1px rgba(214,152,214,1);
    box-shadow: 10px 10px 5px 1px rgba(214,152,214,1);



}
.imagenes{
    border-radius:50px;
}